{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Social Distribution</title>

        <link rel="stylesheet" href="{% static 'honeydew/style.css' %}" />
    </head>
    <body>
        <div class="layout-wrapper">
            <header class="header">
                <div class="header-inner">
                    <div class="brand">SocialDistribution</div>

                    <nav class="header-nav">
                    <a href="{% url 'posts:stream' %}" class="nav-link">
                        ← Back to Stream
                    </a>
                    </nav>
                </div>
            </header>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
