{% load static %}
<link rel="stylesheet" href="{% static 'honeydew/style.css' %}">

<body class="node-admin-page">

<header>
<h2>Add Author</h2>
</header>

<main>

<form method="POST">
    {% csrf_token %}

    <label for="username">Username</label>
    <input id="username" type="text" name="username">

    <label for="password">Password</label>
    <input id="password" type="password" name="password">

    <button type="submit">Create Author</button>
</form>

{% if show_message %}
<p class="error-message" role="alert">
    Username already exists
</p>
{% endif %}

</main>

<nav class="admin-back-container">
    <a href="{% url 'node-admin-dashboard' %}" class="nav-link admin-back-stream">
        ← Back to Node Admin
    </a>
</nav>

</body>