{% load static %}
<!doctype html>
<html>

<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="{% static 'honeydew/style.css' %}">
</head>

<body class="node-admin-page">

<main>

<header>
<h1 style="text-align:center;">Node Admin Panel</h1>
</header>

<nav class="container">

<ul>

<li>
<a href="{% url 'approvals' %}">
Approve Users
</a>
</li>

<li>
<a href="{% url 'manage-authors' %}">
View Authors
</a>
</li>

<li>
<a href="{% url 'add-author' %}">
Add Author
</a>
</li>

</ul>

</nav>

</main>

<nav class="admin-back-container">
<a href="{% url 'posts:stream' %}" class="nav-link admin-back-stream">
← Back to Stream
</a>
</nav>

</body>
</html>